/* You can add global styles to this file, and also import other style files */
/* https://coolors.co/157f1f-4cb963-a0eade-5c6784-1d263b */
/*
Space Cadet: #2D3142
Independence: #4F5D75
Silver: #BFC0C0
White: #FFFFFF
Mandarin: #EF8354
*/
/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.jumbotron {
  border-radius: 0;
  background-color: #2D3142;
  color: #FFFFFF;
}

.card-header {
  background-color: #BFC0C0;
  color: #FFFFFF;
  font-size: 1.3rem;
}

.circle {
  position: relative;
  width: 100%;
  height: 0;
  padding: 100% 0 0;
  border-radius: 50%;
  overflow: hidden;
}

.circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-1 {
  background-color: aqua;
  border-style: solid;
}
.col {
  background-color: brown;
  border-style: solid;
}

.col p {
  color: white;
}

.row {
  background-color: burlywood;
  border-style: solid;
}

.center {
  margin: auto;
  width: 70%;
}
